#horizon {
    border: 2px dotted brown;
    text-align: center;
    width: 500px;
    margin: 0 auto;
}

#wrap {
    border: 4px dotted blueviolet;
    width: 500px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center; /* 수평 정렬 */
    align-items: center; /* 수직 정렬 */
}

#container, #article {
    background-color: crimson;
    width: 100px;
    height: 100px;
}

#container{
    display: flex;
    justify-content: right;
    align-items: end;
}

#article{
    display: flex;
    justify-content: left;
    align-items: end;
}


.element {
    width: 20px;
    height: 20px;
    background-color: dimgray;
}